menu "OMAP2/3 Display Device Drivers"
        depends on OMAP2_DSS

config PANEL_GENERIC_DPI
        tristate "Generic DPI Panel"
	depends on OMAP2_DSS_DPI
        help
	  Generic DPI panel driver.
	  Supports DVI output for Beagle and OMAP3 SDP.
	  Supports LCD Panel used in TI SDP3430 and EVM boards,
	  OMAP3517 EVM boards and CM-T35.

config PANEL_LGPHILIPS_LB035Q02
	tristate "LG.Philips LB035Q02 LCD Panel"
	depends on OMAP2_DSS_DPI && SPI
	help
	  LCD Panel used on the Gumstix Overo Palo35

config PANEL_SHARP_LS037V7DW01
        tristate "Sharp LS037V7DW01 LCD Panel"
        depends on OMAP2_DSS_DPI
        select BACKLIGHT_CLASS_DEVICE
        help
          LCD Panel used in TI's SDP3430 and EVM boards

config PANEL_NEC_NL8048HL11_01B
	tristate "NEC NL8048HL11-01B Panel"
	depends on OMAP2_DSS_DPI
	help
		This NEC NL8048HL11-01B panel is TFT LCD
		used in the Zoom2/3/3630 sdp boards.

config PANEL_S6E8AA0
        tristate "S6E8AA0 DSI Panel"
        depends on OMAP2_DSS_DSI
        select BACKLIGHT_CLASS_DEVICE
        help
          S6E8AA0 video mode panel.

config PANEL_S6E8AA0A01
        tristate "S6E8AA0A01 DSI Panel"
        depends on OMAP2_DSS_DSI
        select BACKLIGHT_CLASS_DEVICE
        help
          S6E8AA0A01 video mode panel.

config AID_DIMMING
        bool "AID DIMMING"
        depends on OMAP2_DSS_DSI
        default n
        help
         This enables support for Samsung S6E8AA0 MIPI LCD AID DIMMING

config SMART_DIMMING
        bool "SMART DIMMING"
        default n
        help
          This enables support for Samsung S6E8AA0 MIPI LCD SMART DIMMING

config PANEL_TAAL
        tristate "Taal DSI Panel"
        depends on OMAP2_DSS_DSI
        help
          Taal DSI command mode panel from TPO.

config PANEL_TPO_TD043MTEA1
        tristate "TPO TD043MTEA1 LCD Panel"
        depends on OMAP2_DSS_DPI && SPI
        help
          LCD Panel used in OMAP3 Pandora

config PANEL_ACX565AKM
	tristate "ACX565AKM Panel"
	depends on OMAP2_DSS_SDI && SPI
	select BACKLIGHT_CLASS_DEVICE
	help
	  This is the LCD panel used on Nokia N900

config PANEL_TC358765
	tristate "Toshiba TC358765 DSI-2-LVDS chip"
	depends on OMAP2_DSS_DSI && I2C
	select BACKLIGHT_CLASS_DEVICE
	help
	  Toshiba TC358765 DSI-2-LVDS chip with 1024x768 panel

config TC358765_DEBUG
	bool "Toshiba TC358765 DSI-2-LVDS chip debug"
	depends on PANEL_TC358765 && DEBUG_FS
	help
	  Support of TC358765 DSI-2-LVDS chip register access via debugfs

config PANEL_LD9040
	tristate "LD9040 Panel"
	depends on OMAP2_DSS_DPI
	select SPI
	help
		This enables support for Samsung LD9040 LCD panel

config PANEL_LTN070NL01
	tristate "LTN070NL01 Panel"
	depends on OMAP2_DSS_DPI
	default n
	help
		This enables support for Samsung LTN070NL01 LCD panel

config PANEL_LTN101AL03
	tristate "LTN101AL03 Panel"
	depends on OMAP2_DSS_DPI
	default n
	help
		This enables support for Samsung LTN101AL03 LCD panel

config PANEL_HV070WX1
        tristate "HV070W1 DSI Panel"
        depends on OMAP2_DSS_DSI
        select BACKLIGHT_CLASS_DEVICE
        help

config PANEL_NT71391
        tristate "NT71391 DSI Panel"
        depends on OMAP2_DSS_DSI
        select BACKLIGHT_CLASS_DEVICE
        help

config IMGSENSOR_CMC624
	bool "Samsung CMC624"
	depends on FB_OMAP2
	default n
	help
		This enables support for Samsung CMC624 feature

config PANEL_LMS501KF07
	tristate "LMS501KF07 DSI Panel"
	depends on OMAP2_DSS_DSI
	select BACKLIGHT_CLASS_DEVICE
	default n
	help
		This enables support for SMD LMS501KF07 LCD panel.
		HX8369 LDI, MIPI DSI, 800x480, 24bit, and mDNIe.
		Works in Video mode and Initial and DCS commands
		are sent to LDI through separate channel in LP state.

endmenu
