# edit here
# def/undef for local target
# RF(3G) models
# LTE models
gc2pdlte="CONFIG_SEC_MODEM_V2=y \
	  CONFIG_SEC_MODEM_SP7160LTE=y"
gc2pdlte_undef="SEC_MODEM_PRIMITIVE SEC_MODEM_M0"
gc2pdlte_att="CONFIG_TARGET_LOCALE_USA=y \
	      CONFIG_SEC_MODEM_GC2_ATT=y CONFIG_SAMSUNG_C2C=y CONFIG_EXYNOS_C2C=y CONFIG_C2C_IPC_ENABLE=y CONFIG_C2C_IPC_ONLY=y"
gc2pdlte_att_undef="TARGET_LOCALE_EUR SEC_MODEM_M0 UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC LINK_DEVICE_CLASS_CDC_ACM"
gc2pd_chn_cu="CONFIG_TARGET_LOCALE_CHN=y \
    CONFIG_WLAN_REGION_CODE=300"
gc2pd_chn_cu_undef="TARGET_LOCALE_EUR"
