######################################
# Base model is GD2 3G EUR OPEN.
# def/undef for local target
######################################
gd2_lte_eur="CONFIG_TARGET_LOCALE_EUR=y \
	CONFIG_QC_MODEM=y \
	CONFIG_USB_USBNET=y \
	CONFIG_USB_SERIAL_QUALCOMM=y"
gd2_lte_eur_undef="SEC_MODEM"
gd2_lte_kor="CONFIG_TARGET_LOCALE_KOR=y \
	CONFIG_QC_MODEM=y \
	CONFIG_USB_USBNET=y \
	CONFIG_WLAN_REGION_CODE=200 \
	CONFIG_USB_SERIAL_QUALCOMM=y"
gd2_lte_kor_undef="SEC_MODEM \
	TARGET_LOCALE_EUR"
gd2_wifi="CONFIG_TARGET_LOCALE_EUR=y \
	CONFIG_USB_USBNET=y \
	CONFIG_USB_SERIAL_QUALCOMM=y"
gd2_wifi_undef="SEC_MODEM QC_MODEM"
gd2_chn_open="CONFIG_TARGET_LOCALE_CHN=y \
	CONFIG_WLAN_REGION_CODE=300 \
	CONFIG_QC_MODEM=y \
	CONFIG_USB_USBNET=y \
	CONFIG_USB_SERIAL_QUALCOMM=y"
gd2_chn_open_undef="SEC_MODEM TARGET_LOCALE_EUR"
gd2_wifi_any="CONFIG_TARGET_LOCALE_KOR=y \
	CONFIG_MACH_GD2_KOR_ANY=y \
	CONFIG_QC_MODEM=y \
	CONFIG_USB_USBNET=y \
	CONFIG_USB_SERIAL_QUALCOMM=y"
gd2_wifi_any_undef="SEC_MODEM \
	TARGET_LOCALE_EUR"
