# edit here
# def/undef for local target
konawifi="CONFIG_MACH_KONA_EUR_WIFI=y \
	   CONFIG_GPS_BRCM_475X=y"
konawifi_undef="EHCI_IRQ_DISTRIBUTION SEC_MODEM_M0 SIM_DETECT \
	   IP_MULTICAST SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC" 
konalte="CONFIG_MACH_KONA_EUR_LTE=y \
	   CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y CONFIG_USB_SERIAL_CSVT=y CONFIG_HSIC_EURONLY_APPLY=y"
konalte_undef="SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	   FM_RADIO GPS_BCMxxxxx GPS_BCM4752"
konalteatt="CONFIG_TARGET_LOCALE_USA=y CONFIG_MACH_KONALTE_USA_ATT=y \
		CONFIG_QC_MODEM=y CONFIG_USB_USBNET=y CONFIG_USB_SERIAL_QUALCOMM=y \
		CONFIG_SENSORS_K2DH=y \
		CONFIG_AUTHENTEC_VPNCLIENT_INTERCEPTOR=m \"
konalteatt_undef="SEC_MODEM_M0 SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
		TARGET_LOCALE_EUR SENSORS_BMA254 SENSORS_GP2A \
		FM_RADIO GPS_BCMxxxxx GPS_BCM4752"
konawifiany="CONFIG_TARGET_LOCALE_KOR=y CONFIG_MACH_KONA_KOR_WIFI=y"
konawifiany_undef="EHCI_IRQ_DISTRIBUTION SEC_MODEM_M0 SIM_DETECT \
	   IP_MULTICAST SEC_MODEM UMTS_MODEM_XMM6262 LINK_DEVICE_HSIC \
	   TARGET_LOCALE_EUR"
konawifizc="CONFIG_TARGET_LOCALE_CHN=y \
	   CONFIG_WLAN_REGION_CODE=300"
kona3gzc="CONFIG_TARGET_LOCALE_CHN=y \
	   CONFIG_WLAN_REGION_CODE=300"
