config RTC_CHN_ALARM_BOOT
	bool "Alarm Boot"
	default n
	select SEC_RTC_ALARM_BOOT

config MACH_SAMSUNG_ESPRESSO_CHN_CMCC
        bool "Samsung Espresso CHINA CMCC (GT-P3108) Board"
        default n
        select MACH_OMAP4_SAMSUNG
	select FW_SAMSUNG_ESPRESSO_TSP

config MACH_SAMSUNG_ESPRESSO_CHN_OPEN
        bool "Samsung Espresso CHINA OPEN (GT-P3100) Board"
        default n
        select MACH_OMAP4_SAMSUNG
	select FW_SAMSUNG_ESPRESSO_TSP

config TARGET_LOCALE_CHN
	bool "Samsung Espresso CHINA LOCALE"
	default n
	select MACH_OMAP4_SAMSUNG

config MACH_SAMSUNG_KONA_CHN_OPEN
	bool "Samsung Kona CHINA OPEN (GT-N5100) Board"
	default n
	select MACH_OMAP4_SAMSUNG
	select FW_SAMSUNG_KONA_TSP
	select FW_SAMSUNG_KONA_WACOM

config MACH_SAMSUNG_T1_CHN_CMCC
	bool "Samsung T1 CHINA CMCC Board"
	default n
	select MACH_OMAP4_SAMSUNG

config MACH_SAMSUNG_T1_CHN_OPEN
	bool "Samsung T1 CHINA OPEN Board"
	default n
	select MACH_OMAP4_SAMSUNG

config MACH_SAMSUNG_SUPERIOR_CHN_OPEN
	bool "Samsung Superior CHINA OPEN Board"
	default n
	select MACH_OMAP4_SAMSUNG
	select FW_SAMSUNG_SUPERIOR_TSP
	select FW_SAMSUNG_SUPERIOR_TOUCH_KEY

config MACH_SAMSUNG_SUPERIOR_CHN_CMCC
        bool "Samsung Superior CHINA CMCC Board"
        default n
        select MACH_OMAP4_SAMSUNG
	select FW_SAMSUNG_SUPERIOR_TSP
	select FW_SAMSUNG_SUPERIOR_TOUCH_KEY
