config MACH_SAMSUNG_GOKEY
	bool "Samsung Gokey (YP-GH1) Board"
	default n
	select MACH_OMAP4_SAMSUNG
	select FW_SAMSUNG_GOKEY_TSP

config FW_SAMSUNG_GOKEY_TSP
	bool
	default n

config MP3_LP_MODE
	bool "mp3 LP"
	default n
	help
	  to reduce mp3 current consumption, turn down cpu1 and limit
	  cpu frequency when the device is in earlysuspend mode MP3
	  playback.